# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Jupyter
*.ipynb
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/embeddings/

# Vector DBs
*.db
*.sqlite
*.duckdb
chromadb/
faiss_index/

# Logs & temp
logs/
tmp/

# OS
.DS_Store

data/